.login-form {
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 20px;
    margin-top: 15%;
}

.users-container h5 {
    display: inline-block;
    margin-right: 10px;
}

.users-container span:not(:last-of-type):after {
    content: ',';
    margin-right: 5px;
}

.messages-container {
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.message-box {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.message-box-question {
    background-color: #eeeeee;
}

.message-box-info {
    background-color: #46b8da;
}

.message-box-error {
    background-color: #b67102;
}

.user-logo {
    border-radius: 50%;
    max-width: 70%;
}

.message {
    position: relative;
}

.message h4 {
    font-weight: 600;
    margin-top: 0;
}

.message p {
    margin-bottom: 0;
}

.message h6{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

form {
    padding: 10px;
}
