.chat-container {
    border: 1px solid #ddd;
}

.chat-display {
    height: 60vh;
    overflow: auto;
}

.chat-message {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    position: relative;
}

.chat-message-question {
    background-color: #eee;
}

.chat-message-success {
    color: #fff;
    background-color: #008cba;
}

.chat-message-info {
    color: #fff;
    background-color: #5bc0de;
}

.chat-message-error {
    color: #fff;
    background-color: #b67102;
}

.chat-message .user-logo{
    max-width: 100%;
    border-radius: 50%;
}

.chat-message h3 {
    margin-top: 0;
}

.chat-message small {
    font-size: 12px;
}

.chat-message p {
    margin: 0;
}

.chat-message span {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 12px;
}

.chat-form {
    padding: 15px 10px;
}
