.chat-container {
    border: 1px solid #ddd;
}

.chat-display {
    height: 60vh;
    overflow: auto;
}

.chat-message {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    position: relative;
}

.chat-message .user-logo{
    max-width: 100%;
    border-radius: 50%;
}

.chat-message p {
    margin: 0;
}

.chat-message small {
    position: absolute;
    top: 0;
    right: 15px;
}

.chat-form {
    padding: 15px 10px;
}
