.add-question-container {
    margin-top: 5%;
}

.add-question-container textarea,
.add-question-container .display-question {
    height: 40vh;
}

.add-question-container .display-question {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-bottom: 40px;
}

.add-question-container .display-question h4 {
    margin-top: 0;
}

.add-question-container .display-question small {
    font-size: 12px;
}
